@charset "UTF-8";
/* Aquí definimos las Custom properties */
:root {
  --negro: #393939;
  /* Tipografía */
  --tipo-principal: Helvetica, Arial, sans-serif;
  --tipo-secundaria: Verdana;
}

/* Las adaptamos al modo oscuro */
@media (prefers-color-scheme: dark) {
  :root {
    --negro: #ececec;
  }
}
/* Opcional */
/* Configuramos si un usuario ha activado el modo alto contraste. (WD) */
/* Opcional */
/* Desactivamos los animations en el caso de que el usuario haya configurado el modo sin animation */
@media (prefers-reduced-motion: reduce) {
  * {
    -webkit-animation: none !important;
    animation: none !important;
    -webkit-transition: none !important;
    transition: none !important;
  }
}
/* Reseteamos los margin y paddings de todas las etiquetas */
* {
  margin: 0;
  padding: 0;
  /* border: 0; */
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  vertical-align: baseline;
}

/* Evitamos problemas con las imagenes */
img, picture, video, iframe, figure {
  max-width: 100%;
  width: 100%;
  display: block;
  /* opcional */
  -o-object-fit: cover;
  object-fit: cover;
  /* opcional */
  -o-object-position: center center;
  object-position: center center;
}

/* Reseteamos los enlaces para funcionar como cajas... */
a {
  display: block;
  text-decoration: none;
  color: inherit;
  font-size: inherit;
}

/* ... excepto los que se encuentran en párrafos */
p a {
  display: inline;
}

/* Quitamos los puntos de los <li> */
li {
  list-style-type: none;
}

/* Configuramos anclas suaves */
html {
  scroll-behavior: smooth;
}

/* Desactivamos estilos por defecto de las principales etiquetas de texto */
h1, h2, h3, h4, h5, h6, p, span, a, strong, blockquote, i, b, u, em {
  font-size: 1em;
  font-weight: inherit;
  font-style: inherit;
  text-decoration: none;
  color: inherit;
}

/* Evitamos problemas con los pseudoelementos de quotes */
blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none;
}

/* Configuramos el texto que seleccionamos */
::-moz-selection {
  background-color: var(--negro);
  color: var(--blanco);
}

::selection {
  background-color: var(--negro);
  color: var(--blanco);
}

/* Nivelamos problemas de tipografías y colocación de formularios */
form, input, textarea, select, button, label {
  font-family: inherit;
  font-size: inherit;
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
  background-color: transparent;
  color: inherit;
  display: block;
  /* opcional */
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

/* Reseteamos las tablas */
table, tr, td {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Evitamos problemas con los SVG */
svg {
  width: 100%;
  display: block;
  fill: currentColor;
}

/* Configuramos la tipografía para toda la web */
body {
  min-height: 100vh;
  font-size: 100%;
  font-family: var(--tipo-principal);
  color: var(--negro);
  /* opcional */
  line-height: 1.4em;
  /* opcional */
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
  /* opcional */
  font-smooth: always;
  /* opcional */
  -webkit-font-smoothing: antialiased;
  /* opcional */
  -moz-osx-font-smoothing: grayscale;
}

.header {
  display: flex;
  width: 100%;
  height: 10rem;
  margin-left: 1em;
  align-items: center;
  flex-direction: row;
  margin-right: 1em;
}
.header__a {
  height: 100%;
  width: 100%;
}
.header__img {
  width: 100%;
  height: 100%;
}
.header__wrapper1 {
  display: flex;
  justify-content: left;
  width: fit-content auto;
  flex-grow: 0.091;
  height: 15rem;
  margin: 1em;
  align-items: center;
}
.header__wrapper2 {
  display: flex;
  justify-content: right;
  height: 2rem;
  width: fit-content auto;
  flex-grow: 1;
  margin: 3em;
}
@media only screen and (max-width: 576px) {
  .header {
    flex-direction: column;
  }
}

.ul__a {
  text-decoration: none;
  display: inline-block;
  font-family: "Roboto-Serif";
  font-style: italic;
  font-weight: 500;
  font-size: 22px;
  color: #6C6D73;
  padding: 0.5rem;
}
.ul__a:hover {
  color: rgba(0, 0, 255, 0.384);
}
@media only screen and (max-width: 576px) {
  .ul__a {
    padding: 0.4rem;
  }
}

.title {
  display: flex;
  justify-content: left;
  margin-right: 2rem;
  flex-direction: column-reverse;
}
.title__h1 {
  font-family: Helvetica;
  color: rgba(0, 0, 0, 0.4784313725);
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  text-align: right;
  text-decoration-line: initial;
  opacity: 0.9;
  width: 100%;
}
.title__h1--left {
  text-align: left;
  margin-left: 2rem;
}

.galery {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  padding: 10px;
  margin-top: 2em;
}
.galery__div {
  flex: 20%;
}
.galery__img {
  width: 100%;
}
.galery__img:hover {
  opacity: 0.5;
  transition: 0.4s ease;
}

.by {
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translate(-15rem, 5rem);
}

/* @media only screen  and (max-width: 576px) {
    .galery {
      width: 100%;
      padding-left: 23px;
      flex-direction: column;
    }
    .galery__div {
      width: 100%;
    }
} */
/* @media only screen and (max-width: 576px) {
    .by
    {
        display: flex;
        justify-content: center;
        transform: translate(-9rem  , 5rem);
    }

  } */
.projects {
  margin: 10px;
  margin-right: 0px;
  margin-top: 2%;
  display: grid;
  grid-template-columns: repeat(13, 1fr);
  grid-template-rows: 400px 50px 400px 50px;
  row-gap: 10px;
}
.projects__div--1 {
  grid-column: 6/span 3;
  grid-row: 1/1;
}
.projects__div--2 {
  grid-column: 2/span 3;
  grid-row: 1/1;
}
.projects__div--3 {
  grid-column: 10/span 3;
  grid-row: 1/1;
}
.projects__div--4 {
  grid-column: 4/span 3;
  grid-row: 3/3;
}
.projects__div--5 {
  grid-column: 8/span 3;
  grid-row: 3/3;
}
.projects__img {
  cursor: pointer;
  width: 100%;
  height: 100%;
}
.projects__img:hover {
  opacity: 0.5;
  transition: 0.4s ease;
}
.projects__p {
  font-family: "Roboto Serif";
  font-style: italic;
  font-weight: 500;
  font-size: 25px;
  color: #6C6D73;
}
.projects__p:hover {
  cursor: pointer;
  color: rgba(0, 0, 255, 0.384);
}
.projects__p--1 {
  grid-column: 6/span 3;
  grid-row: 2/2;
  text-align: center;
}
.projects__p--2 {
  grid-column: 2/span 3;
  grid-row: 2/2;
  text-align: center;
}
.projects__p--3 {
  grid-column: 10/span 3;
  grid-row: 2/2;
  text-align: center;
}
.projects__p--4 {
  grid-column: 4/span 3;
  grid-row: 4/4;
  text-align: center;
}
.projects__p--5 {
  grid-column: 8/span 3;
  grid-row: 4/4;
  text-align: center;
}

.film {
  margin-right: 0px;
  margin-top: 2%;
  display: grid;
  grid-template-columns: [x0] 1fr [x1] 1fr [x2] 1fr [x3];
  width: 100%;
  height: 45em;
  gap: 1em;
}
.film__div--1 {
  grid-column: x0/x3;
  grid-row: 1/1;
}
.film__div--2 {
  grid-column: x0/x1;
  grid-row: 2/2;
}
.film__div--3 {
  grid-column: x1/x2;
  grid-row: 2/2;
}
.film__div--4 {
  grid-column: x2/x3;
  grid-row: 2/2;
}
.film__video {
  width: 100%;
  height: 100%;
}

.section {
  height: auto;
  margin-top: 3em;
}

.biography__div--1 {
  width: 28em;
  height: fit-content auto;
  display: inline-block;
  margin-left: 9em;
}
.biography__div--2 {
  width: 30em;
  height: fit-content auto;
  margin: auto;
  float: right;
  margin-right: 9em;
}
.biography__p {
  width: 100%;
  height: 100%;
  padding: 10px;
  font-family: serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 25px;
  color: #6C6D73;
  text-align: right;
}
.biography__p--flex {
  display: none;
}

.contact__div--email {
  grid-column: 2/span 2;
  grid-row: 2/2;
  text-align: center;
}
.contact__div--lastname {
  grid-column: 4/span 3;
  grid-row: 1/1;
  text-align: center;
  margin-top: 2rem;
}
.contact__div--name {
  grid-column: 2/span 2;
  grid-row: 1/1;
  text-align: center;
  margin-top: 2rem;
}
.contact__div--submit {
  grid-column: 2/span 4;
  grid-row: 4/4;
  text-align: center;
}
.contact__div--textarea {
  grid-column: 2/span 4;
  grid-row: 3/3;
  text-align: center;
}
.contact__div--thanks {
  grid-column: 3/span 4;
  grid-row: 4/4;
  text-align: center;
}
.contact__form {
  display: grid;
  grid-template-columns: 50px 0px 300px 0px;
  grid-template-rows: 10px 10px 10px 10px 10px;
  column-gap: 10rem;
  margin-right: 5em;
  row-gap: 7rem;
  margin-top: 2em;
  color: whitesmoke;
  font-family: serif;
}
.contact__imput--email, .contact__imput--text {
  width: 100%;
  padding: 3px 10px;
  border: none;
  border-bottom: 2px solid whitesmoke;
  border-radius: 3px;
  margin: 8px 0;
  display: inline-block;
  grid-column: 4/4;
  grid-row: 1/1;
  text-align: left;
}
.contact__imput--submit {
  width: 15em;
  padding: 8px 16px;
  margin-top: 32px;
  border: 1px solid whitesmoke;
  border-radius: 10px;
  display: block;
  background-color: rgba(0, 0, 0, 0.779);
}
.contact__imput--submit:hover {
  cursor: pointer;
  background-color: rgba(0, 0, 255, 0.384);
}
.contact ::placeholder {
  color: whitesmoke;
  font-size: 1.5em;
}
.contact__p {
  padding: 8px 16px;
  margin-top: 32px;
  color: whitesmoke;
  font-size: 1.5em;
}
.contact__textarea {
  width: 100%;
  padding: 3px 10px;
  border: none;
  border-bottom: 2px solid whitesmoke;
  border-radius: 3px;
  margin: 8px 0;
  display: inline-block;
  grid-column: 4/4;
  grid-row: 1/1;
  text-align: left;
}

.info {
  margin-top: 5em;
  display: grid;
  grid-template-columns: 50px 0px 300px 50px;
  grid-template-rows: 50px 50px;
  column-gap: 10rem;
  row-gap: 10rem;
}
.info__div--1 {
  grid-column: 2/2;
  grid-row: 1/1;
  text-align: center;
}
.info__div--2 {
  grid-column: 4/4;
  grid-row: 1/1;
  text-align: center;
}
.info__div--3 {
  grid-column: 2/2;
  grid-row: 2/2;
  text-align: center;
}
.info__div--4 {
  grid-column: 4/4;
  grid-row: 2/2;
  text-align: center;
}
.info__table {
  width: 100%;
  height: 100%;
}

.section__hr {
  margin-top: 3rem;
}
.section__hr--hr__hr {
  border-color: rgba(0, 0, 255, 0.384);
}
.section--form {
  background-color: rgba(0, 0, 0, 0.779);
  /* box-shadow:  0 -5px 5px 0 5px -5px black; */
  box-shadow: inset 0px 11px 8px -10px whitesmoke, inset 0px -11px 8px -10px whitesmoke;
  border-radius: 0.5rem;
}

.footer {
  width: 100%;
}
.footer__img {
  width: 100%;
  height: 100%;
}
.footer__wrapper {
  display: flex;
  width: auto;
  height: 15rem;
  /* flex-wrap: nowrap; */
  margin-left: 1em;
  align-items: center;
  flex-direction: row;
}
.footer__wrapper1 {
  display: flex;
  width: auto;
  justify-content: center;
  height: 15rem;
  margin: 0px;
  align-items: center;
  /* flex: 0.3; */
  flex-grow: 0.091;
}
.footer__wrapper2 {
  display: flex;
  justify-content: left;
  height: 1rem;
  width: auto;
  margin: 3em;
  gap: 2em;
}
.footer__wrapper3 {
  display: flex;
  justify-content: right;
  height: 4em;
  margin-right: 1em;
  flex-grow: 1;
}
@media only screen and (max-width: 1000px) {
  .footer {
    width: 100%;
    display: flex;
    height: auto;
  }
  .footer__wrapper {
    display: flex;
    flex-direction: column-reverse;
    height: auto;
    width: 100%;
  }
  .footer__wrapper1 {
    height: fit-content auto;
    width: 100%;
    margin: 0 auto;
    flex-grow: 0.5;
  }
  .footer__wrapper2 {
    display: flex;
    justify-content: center;
    height: fit-content auto;
    width: 100%;
  }
  .footer__wrapper3 {
    display: none;
  }
}

/*# sourceMappingURL=main.css.map */
