@charset "UTF-8";
/* Aquí definimos las Custom properties */
:root {
  --negro: #393939;
  /* Tipografía */
  --tipo-principal: Helvetica, Arial, sans-serif;
  --tipo-secundaria: Verdana;
}

/* Las adaptamos al modo oscuro */
@media (prefers-color-scheme: dark) {
  :root {
    --negro: #ececec;
  }
}
/* Opcional */
/* Configuramos si un usuario ha activado el modo alto contraste. (WD) */
/* Opcional */
/* Desactivamos los animations en el caso de que el usuario haya configurado el modo sin animation */
@media (prefers-reduced-motion: reduce) {
  * {
    -webkit-animation: none !important;
    animation: none !important;
    -webkit-transition: none !important;
    transition: none !important;
  }
}
/* Reseteamos los margin y paddings de todas las etiquetas */
* {
  margin: 0;
  padding: 0;
  /* border: 0; */
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  vertical-align: baseline;
}

/* Evitamos problemas con las imagenes */
img, picture, video, iframe, figure {
  max-width: 100%;
  width: 100%;
  display: block;
  /* opcional */
  -o-object-fit: cover;
  object-fit: cover;
  /* opcional */
  -o-object-position: center center;
  object-position: center center;
}

/* Reseteamos los enlaces para funcionar como cajas... */
a {
  display: block;
  text-decoration: none;
  color: inherit;
  font-size: inherit;
}

/* ... excepto los que se encuentran en párrafos */
p a {
  display: inline;
}

/* Quitamos los puntos de los <li> */
li {
  list-style-type: none;
}

/* Configuramos anclas suaves */
html {
  scroll-behavior: smooth;
}

/* Desactivamos estilos por defecto de las principales etiquetas de texto */
h1, h2, h3, h4, h5, h6, p, span, a, strong, blockquote, i, b, u, em {
  font-size: 1em;
  font-weight: inherit;
  font-style: inherit;
  text-decoration: none;
  color: inherit;
}

/* Evitamos problemas con los pseudoelementos de quotes */
blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none;
}

/* Configuramos el texto que seleccionamos */
::-moz-selection {
  background-color: var(--negro);
  color: var(--blanco);
}

::selection {
  background-color: var(--negro);
  color: var(--blanco);
}

/* Nivelamos problemas de tipografías y colocación de formularios */
form, input, textarea, select, button, label {
  font-family: inherit;
  font-size: inherit;
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
  background-color: transparent;
  color: inherit;
  display: block;
  /* opcional */
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

/* Reseteamos las tablas */
table, tr, td {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Evitamos problemas con los SVG */
svg {
  width: 100%;
  display: block;
  fill: currentColor;
}

/* Configuramos la tipografía para toda la web */
body {
  min-height: 100vh;
  font-size: 100%;
  font-family: var(--tipo-principal);
  color: var(--negro);
  /* opcional */
  line-height: 1.4em;
  /* opcional */
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
  /* opcional */
  font-smooth: always;
  /* opcional */
  -webkit-font-smoothing: antialiased;
  /* opcional */
  -moz-osx-font-smoothing: grayscale;
}

.title {
  margin-top: 2em;
}
.title__h1 {
  font-family: Helvetica;
  color: rgba(0, 0, 0, 0.858);
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  text-align: center;
  text-decoration-line: initial;
  opacity: 0.9;
  width: 100%;
}
.title__hr {
  background-image: linear-gradient(400deg, rgba(0, 0, 255, 0.384), #6C6D73, transparent);
  border: 0;
  height: 2px;
  width: 40%;
  margin: 0 auto;
}

@media screen and (min-width: 1024px) {
  .title {
    margin-right: 2rem;
    margin-top: 1em;
  }
  .title__h1 {
    font-size: 40px;
    text-align: right;
  }
  .title__h1--left {
    text-align: left;
    margin-left: 2rem;
  }
  .title__hr {
    width: 40%;
    margin: auto 0 auto auto;
    margin-top: 2em;
  }
}
.title {
  margin-top: 2em;
}
.title__h1 {
  font-family: Helvetica;
  color: rgba(0, 0, 0, 0.858);
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  text-align: center;
  text-decoration-line: initial;
  opacity: 0.9;
  width: 100%;
}
.title__hr {
  background-image: linear-gradient(400deg, rgba(0, 0, 255, 0.384), #6C6D73, transparent);
  border: 0;
  height: 2px;
  width: 40%;
  margin: 0 auto;
}

@media screen and (min-width: 1024px) {
  .title {
    margin-right: 2rem;
    margin-top: 1em;
  }
  .title__h1 {
    font-size: 40px;
    text-align: right;
  }
  .title__h1--left {
    text-align: left;
    margin-left: 2rem;
  }
  .title__hr {
    width: 40%;
    margin: auto 0 auto auto;
    margin-top: 2em;
  }
}
.body {
  display: grid;
  grid-template-columns: repeat(1, auto);
  grid-template-rows: repeat(3, auto);
  gap: 0;
}

.header {
  display: flex;
  flex-flow: column nowrap;
  justify-content: start;
  align-items: center;
  gap: 0.1em;
  width: 100%;
}
.header__wrapper1 {
  width: 50%;
  height: 100%;
}
.header__img {
  width: 100%;
  height: 100%;
}

.ul__li {
  display: inline-block;
  padding-inline: 0.386rem;
}
.ul__a {
  text-decoration: none;
  font-family: "Roboto-Serif";
  font-style: italic;
  font-weight: 400;
  font-size: 17px;
  color: #6C6D73;
}
.ul__a:hover {
  color: rgba(0, 0, 255, 0.384);
}

.fa-whatsapp {
  color: rgba(37, 211, 101, 0.4901960784);
}

.fa-whatsapp:hover {
  color: #25d366;
}

@media screen and (min-width: 480px) {
  .header__wrapper1 {
    width: 40%;
  }
  .ul__a {
    font-size: 22px;
  }
}
@media screen and (min-width: 600px) {
  .header__wrapper1 {
    width: 38%;
  }
  .ul__li {
    padding-inline: 1em;
  }
}
@media screen and (min-width: 700px) {
  .header__wrapper1 {
    width: 38%;
  }
}
@media screen and (min-width: 760px) {
  .header__wrapper1 {
    width: 38%;
  }
}
@media screen and (min-width: 850px) {
  .header__wrapper1 {
    width: 30%;
  }
}
@media screen and (min-width: 1024px) {
  .header {
    flex-direction: row;
    justify-content: space-between;
    align-content: flex-start;
  }
  .header__wrapper1 {
    width: 20%;
  }
}
@media screen and (min-width: 1200px) {
  .header__wrapper1 {
    width: 20%;
  }
}
@media screen and (min-width: 1300px) {
  .header__wrapper1 {
    width: 20%;
  }
}
@media screen and (min-width: 1400px) {
  .header__wrapper1 {
    width: 20%;
  }
}
.fa-instagram, .fa-facebook, .fa-twitter, .fa-tiktok, .fa-snapchat {
  padding-inline: 0.5em;
}

.fa-instagram {
  color: transparent;
  background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
  background: -webkit-radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
  background-clip: text;
  -webkit-background-clip: text;
}

.fa-facebook {
  color: #3b5998;
  background-image: linear-gradient(to bottom, transparent 20%, white 20%, white 93%, transparent 93%);
  background-size: 55%;
  background-position: 70% 0;
  background-repeat: no-repeat;
}

.fa-tiktok {
  color: #111111;
  filter: drop-shadow(2px 0px 0px #FD3E3E) drop-shadow(-2px -2px 0px #4DE8F4);
}

.fa-twitter {
  color: #0099CC;
}

.fa-snapchat {
  color: black;
}

.fa-circle-up {
  display: none;
}

.fa-brands {
  display: inline-block;
  padding-inline: 1rem;
}

.footer {
  display: flex;
  flex-flow: column-reverse nowrap;
  justify-content: start;
  align-items: center;
  gap: 0.1em;
}
.footer__wrapper1 {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  gap: 0.1em;
}
.footer__wrapper2 {
  width: 50%;
  height: auto;
}
.footer__img {
  width: 100%;
  height: 100%;
}

@media screen and (min-width: 480px) {
  .footer__wrapper2 {
    width: 38%;
  }
}
@media screen and (min-width: 600px) {
  .footer__wrapper2 {
    width: 38%;
  }
}
@media screen and (min-width: 700px) {
  .footer__wrapper2 {
    width: 38%;
  }
}
@media screen and (min-width: 760px) {
  .footer__wrapper2 {
    width: 38%;
  }
}
@media screen and (min-width: 850px) {
  .footer__wrapper2 {
    width: 30%;
  }
}
@media screen and (min-width: 1024px) {
  .footer {
    flex-direction: row;
  }
  .footer__wrapper2 {
    width: 20%;
  }
  .footer__wrapper3 {
    flex-grow: 0.8;
    display: flex;
    justify-content: right;
  }
  .fa-circle-up {
    display: block;
    color: #6C6D73;
  }
  .fa-circle-up:hover {
    color: rgba(0, 0, 255, 0.384);
  }
}
@media screen and (min-width: 1200px) {
  .footer__wrapper2 {
    width: 20%;
  }
}
@media screen and (min-width: 1300px) {
  .footer__wrapper2 {
    width: 20%;
  }
}
@media screen and (min-width: 1400px) {
  .footer__wrapper2 {
    width: 20%;
  }
}
.galery {
  display: grid;
  grid-template-columns: repeat(1, 100%);
  grid-template-rows: repeat(12, 20em);
  gap: 0.2em;
  margin-top: 3em;
}
.galery__img {
  width: 100%;
  height: 100%;
}

@media screen and (min-width: 600px) {
  .galery {
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(11, 11em);
    gap: 0.2em;
  }
  .galery__div:nth-child(1) {
    grid-column: 1/span 1;
    grid-row: 1/span 3;
  }
  .galery__div:nth-child(2) {
    grid-column: 2/span 1;
    grid-row: 1/span 2;
  }
  .galery__div:nth-child(3) {
    grid-column: 1/span 1;
    grid-row: 4/span 2;
  }
  .galery__div:nth-child(5) {
    grid-column: 2/span 1;
    grid-row: 4/span 3;
  }
  .galery__div:nth-child(7) {
    grid-column: 2/span 1;
    grid-row: 7/span 2;
  }
  .galery__div:nth-child(8) {
    grid-column: 1/span 1;
    grid-row: 10/span 3;
  }
  .galery__div:nth-child(10) {
    grid-column: 1/span 1;
    grid-row: 8/span 2;
  }
  .galery__div:nth-child(12) {
    grid-column: 2/span 1;
    grid-row: 10/span 2;
  }
}
@media screen and (min-width: 760px) {
  .galery {
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: repeat(10, 11em);
    gap: 0.2em;
  }
  .galery__div:nth-child(1) {
    grid-column: 1/span 1;
    grid-row: 1/span 3;
  }
  .galery__div:nth-child(2) {
    grid-column: 3/span 1;
    grid-row: 1/span 3;
  }
  .galery__div:nth-child(3) {
    grid-column: 2/span 1;
    grid-row: 1/span 2;
  }
  .galery__div:nth-child(5) {
    grid-column: 3/span 1;
    grid-row: 4/span 3;
  }
  .galery__div:nth-child(6) {
    grid-column: 1/span 1;
    grid-row: 7/span 2;
  }
  .galery__div:nth-child(7) {
    grid-column: 1/span 1;
    grid-row: 4/span 3;
  }
  .galery__div:nth-child(8) {
    grid-column: 1/span 1;
    grid-row: 9/span 2;
  }
  .galery__div:nth-child(9) {
    grid-column: 2/span 1;
    grid-row: 4/span 2;
  }
  .galery__div:nth-child(10) {
    grid-column: 2/span 1;
    grid-row: 7/span 3;
  }
  .galery__div:nth-child(11) {
    grid-column: 3/span 1;
    grid-row: 7/span 2;
  }
  .galery__div:nth-child(12) {
    grid-column: 2/span 1;
    grid-row: 6/span 1;
  }
}
@media screen and (min-width: 1200px) {
  .galery {
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: repeat(11, 11em);
    gap: 0.2em;
  }
  .galery__div:nth-child(1) {
    grid-column: 1/span 1;
    grid-row: 1/span 5;
  }
  .galery__div:nth-child(2) {
    grid-column: 3/span 1;
    grid-row: 1/span 5;
  }
  .galery__div:nth-child(3) {
    grid-column: 2/span 1;
    grid-row: 1/span 4;
  }
  .galery__div:nth-child(4) {
    grid-column: 2/span 1;
    grid-row: 5/span 2;
  }
  .galery__div:nth-child(5) {
    grid-column: 3/span 1;
    grid-row: 6/span 4;
  }
  .galery__div:nth-child(6) {
    grid-column: 1/span 1;
    grid-row: 9/span 2;
  }
  .galery__div:nth-child(7) {
    grid-column: 1/span 1;
    grid-row: 6/span 3;
  }
  .galery__div:nth-child(8) {
    grid-column: 1/span 1;
    grid-row: 11/span 4;
  }
  .galery__div:nth-child(9) {
    grid-column: 2/span 1;
    grid-row: 11/span 2;
  }
  .galery__div:nth-child(10) {
    grid-column: 2/span 1;
    grid-row: 7/span 4;
  }
  .galery__div:nth-child(11) {
    grid-column: 3/span 1;
    grid-row: 10/span 2;
  }
  .galery__div:nth-child(12) {
    grid-column: 3/span 1;
    grid-row: 12/span 2;
  }
  .galery__img:hover {
    opacity: 0.5;
    transition: 0.4s ease;
  }
}

/*# sourceMappingURL=main.css.map */
