.header {
  display: flex;
  width: 100%;
  height: 10rem;
  margin-left: 1em;
  align-items: center;
  flex-direction: row;
  margin-right: 1em;
}
.header__a {
  height: 100%;
  width: 100%;
}
.header__img {
  width: 100%;
  height: 100%;
}
.header__wrapper1 {
  display: flex;
  justify-content: left;
  width: fit-content auto;
  flex-grow: 0.091;
  height: 15rem;
  margin: 1em;
  align-items: center;
}
.header__wrapper2 {
  display: flex;
  justify-content: right;
  height: 2rem;
  width: fit-content auto;
  flex-grow: 1;
  margin: 3em;
}
@media only screen and (max-width: 576px) {
  .header {
    flex-direction: column;
  }
}

.ul__a {
  text-decoration: none;
  display: inline-block;
  font-family: "Roboto Serif";
  font-style: italic;
  font-weight: 500;
  font-size: 22px;
  color: #6C6D73;
  padding: 0.5rem;
}
.ul__a:hover {
  color: rgba(0, 0, 255, 0.384);
}
@media only screen and (max-width: 576px) {
  .ul__a {
    padding: 0.4rem;
  }
}

.galery {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  padding: 10px;
  margin-top: 2em;
}
.galery__div {
  flex: 20%;
}
.galery__img {
  width: 100%;
}
.galery__img:hover {
  opacity: 0.5;
  transition: 0.4s ease;
}

.by {
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translate(-15rem, 5rem);
}

/* @media only screen  and (max-width: 576px) {
    .galery {
      width: 100%;
      padding-left: 23px;
      flex-direction: column;
    }
    .galery__div {
      width: 100%;
    }
} */
/* @media only screen and (max-width: 576px) {
    .by
    {
        display: flex;
        justify-content: center;
        transform: translate(-9rem  , 5rem);
    }

  } */
.projects {
  margin: 10px;
  margin-right: 0px;
  margin-top: 2%;
  display: grid;
  grid-template-columns: repeat(13, 1fr);
  grid-template-rows: 400px 50px 400px 50px;
  row-gap: 10px;
}
.projects__div--1 {
  grid-column: 6/span 3;
  grid-row: 1/1;
}
.projects__div--2 {
  grid-column: 2/span 3;
  grid-row: 2/2;
  text-align: center;
}
.projects__div--3 {
  grid-column: 10/span 3;
  grid-row: 1/1;
}
.projects__div--4 {
  grid-column: 4/span 3;
  grid-row: 3/3;
}
.projects__div--5 {
  grid-column: 8/span 3;
  grid-row: 3/3;
}
.projects__img {
  cursor: pointer;
  width: 100%;
  height: 100%;
}
.projects__img:hover {
  opacity: 0.5;
  transition: 0.4s ease;
}
.projects__p {
  font-family: "Roboto Serif";
  font-style: italic;
  font-weight: 500;
  font-size: 25px;
  color: #6C6D73;
}
.projects__p:hover {
  cursor: pointer;
  color: rgba(0, 0, 255, 0.384);
}
.projects__p--1 {
  grid-column: 6/span 3;
  grid-row: 2/2;
  text-align: center;
}
.projects__p--2 {
  grid-column: 2/span 3;
  grid-row: 2/2;
  text-align: center;
}
.projects__p--3 {
  grid-column: 10/span 3;
  grid-row: 2/2;
  text-align: center;
}
.projects__p--4 {
  grid-column: 4/span 3;
  grid-row: 4/4;
  text-align: center;
}
.projects__p--5 {
  grid-column: 8/span 3;
  grid-row: 4/4;
  text-align: center;
}
@media only screen and (max-width: 576px) {
  .projects {
    grid-template-columns: [x0] 1fr [x1];
    grid-template-rows: repeat(5, 0.5fr auto);
    height: auto;
    margin-top: 10em;
    row-gap: 1em;
  }
  .projects__div--1 {
    grid-column: x0/x1;
    grid-row: 3/span 1;
  }
  .projects__div--2 {
    grid-column: x0/x1;
    grid-row: 1/span 1;
  }
  .projects__div--3 {
    grid-column: x0/x1;
    grid-row: 5/span 1;
  }
  .projects__div--4 {
    grid-column: x0/x1;
    grid-row: 7/span 1;
  }
  .projects__div--5 {
    grid-column: x0/x1;
    grid-row: 9/span 1;
  }
  .projects__div__p {
    font-weight: 500;
    font-size: 2em;
    color: #6C6D73;
  }
  .projects__div__p--1 {
    grid-column: x0/x1;
    grid-row: 4/span 1;
    text-align: center;
  }
  .projects__div__p--2 {
    grid-column: x0/x1;
    grid-row: 2/span 1;
    text-align: center;
  }
  .projects__div__p--3 {
    grid-column: x0/x1;
    grid-row: 6/span 1;
    text-align: center;
  }
  .projects__div__p--4 {
    grid-column: x0/x1;
    grid-row: 8/span 1;
    text-align: center;
  }
  .projects__div__p--5 {
    grid-column: x0/x1;
    grid-row: 10/span 1;
    text-align: center;
  }
}

.footer {
  width: 100%;
}
.footer__img {
  width: 100%;
  height: 100%;
}
.footer__wrapper {
  display: flex;
  width: auto;
  height: 15rem;
  /* flex-wrap: nowrap; */
  margin-left: 1em;
  align-items: center;
  flex-direction: row;
}
.footer__wrapper1 {
  display: flex;
  width: auto;
  justify-content: center;
  height: 15rem;
  margin: 0px;
  align-items: center;
  /* flex: 0.3; */
  flex-grow: 0.091;
}
.footer__wrapper2 {
  display: flex;
  justify-content: left;
  height: 1rem;
  width: auto;
  margin: 3em;
  gap: 2em;
}
.footer__wrapper3 {
  display: flex;
  justify-content: right;
  height: 4em;
  margin-right: 1em;
  flex-grow: 1;
}
@media only screen and (max-width: 1000px) {
  .footer {
    width: 100%;
    display: flex;
    height: auto;
  }
  .footer__wrapper {
    display: flex;
    flex-direction: column-reverse;
    height: auto;
    width: 100%;
  }
  .footer__wrapper1 {
    height: fit-content auto;
    width: 100%;
    margin: 0 auto;
    flex-grow: 0.5;
  }
  .footer__wrapper2 {
    display: flex;
    justify-content: center;
    height: fit-content auto;
    width: 100%;
  }
  .footer__wrapper3 {
    display: none;
  }
}

/*# sourceMappingURL=main.css.map */
