$primary-color: #6C6D73;
$hover-color: rgba(0, 0, 255, 0.384);
$primary-font: serif;
$title-font: Helvetica;
$nav-font: 'Roboto-Serif';


body{
    @include gridlayout(1 , 100vw , 2 , auto){

    };
}

.header {
   
    @include flexbox(column,nowrap, start, center){
        gap: 0.1em;
    };

    width: 100vw;
  
    &__wrapper1 {
        width: 50%;
        height: 15rem;
    }

    &__img {
        width: 100%;
        height: 100%;
    }

    &__wrapper2 {
        @include flexbox(column,nowrap, start, center){
            gap: 0.1em;
        };
        width: 100vw;
    }
}

.ul {

    &__li {
        display: inline-block;
        padding-inline: .386rem;

    }
    &__a {
        text-decoration: none;
        font-family: $nav-font;
        font-style: italic;
        font-weight: 400;
        font-size: 22px;
        color: $primary-color;
    }

    &__a:hover{
        color: $hover-color;
    }
}


@include tablet{

    .header__wrapper1{
        width: 38%;
    }

    .ul__li{
        padding-inline: 1em;

    }
}

@include laptop__small{
    .header__wrapper1{
        width: 30%;
    }
}

// @include desktop{
//     .header__wrapper1{
//         width: 30%;
//     }
// }

@media screen and (min-width: 1200px)  {
.header__wrapper1{
    width: 30%;
}
}

@media screen and (min-width: 1300px)  {
    .header__wrapper1{
        width: 30%;
    }
    }


    @media screen and (min-width: 1400px)  {
        .header__wrapper1{
            width: 20%;
        }
    }

              
