/* Error: Undefined mixin.
 *    ,
 * 41 | / @include tablet__s{
 * 42 | |     .galery{
 * 43 | |         grid-template-columns: auto auto;
 * 44 | |         grid-template-rows: repeat(4, auto);
 * 45 | |     }
 * 46 | | 
 * 47 | |     .galery__div:nth-child(1){
 * 48 | |         grid-column: 1 / 1;
 * 49 | |         grid-row: 2 / 1;
 * 50 | |     }
 * 51 | | 
 * 52 | |     .galery__div:nth-child(1){
 * 53 | |         grid-column: 2 / 1;
 * 54 | |         grid-row: 2 / 1;
 * 55 | |     }
 * 56 | \ }
 *    '
 *   SASS\views\index.scss 41:1  root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Undefined mixin.\a    \2577 \a 41 \2502  \250c  @include tablet__s{\a 42 \2502  \2502      .galery{\a 43 \2502  \2502          grid-template-columns: auto auto;\a 44 \2502  \2502          grid-template-rows: repeat(4, auto);\a 45 \2502  \2502      }\a 46 \2502  \2502  \a 47 \2502  \2502      .galery__div:nth-child(1){\a 48 \2502  \2502          grid-column: 1 / 1;\a 49 \2502  \2502          grid-row: 2 / 1;\a 50 \2502  \2502      }\a 51 \2502  \2502  \a 52 \2502  \2502      .galery__div:nth-child(1){\a 53 \2502  \2502          grid-column: 2 / 1;\a 54 \2502  \2502          grid-row: 2 / 1;\a 55 \2502  \2502      }\a 56 \2502  \2514  }\a    \2575 \a   SASS\\views\\index.scss 41:1  root stylesheet";
}
