// SIN GRID
.section {

    height: auto;
    margin-top: 3em;
}

.biography {
    &__div {
        &--1 {
            width: 28em;
            height: fit-content auto;
            display: inline-block;
            margin-left: 9em;
        }

        &--2 {
            width: 30em;
            height: fit-content auto;
            margin:  auto;
            float: right;
            margin-right: 9em;
        }
    }    
            
    &__p{

        width: 100%;
        height: 100%;
        padding: 10px;
        font-family: $primary-font;
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 25px;
        color: $primary-color;
        text-align: right;

        &--flex{
            display: none;
        }
    }
        
}




//CON GRID

// .biography {
//     margin: 10px;
//     margin-top: 2%;
//     display: grid;
//     grid-template-columns: 10% 35% 40% 10%;
//     grid-template-rows: repeat(1, 800px);
//     gap: 2rem ;

//     &__div {
//         &--1 {
//             grid-column: 2 / 2;
//         }

//         &--2 {
//             grid-column: 3 / 3;
//         }
//     }

//     &__img {
//         width: 100%;
//         height: 100%;
//         border-radius: 1rem;
//     }

//     &__p {
//         width: 100%;
//     height: 100%;
//     padding: 10px;
//     font-family: 'Piazzolla';
//     font-style: normal;
//     font-weight: 400;
//     font-size: 20px;
//     line-height: 25px;
//     text-align: right;
//     }
// }
