.galery {
    display: flex;
    // padding: 10px;
    margin-top: 2em;

    // &__div {flex: 20%;}

    &__img {
        width: 100%;
    }

    &__img:hover{
        opacity: 0.5;
        transition: .4s ease;
    }
}



@media only screen  and (max-width: 480px){
    .galery {
      width: 100%;
    //   padding-left: 1em;
      flex-wrap: wrap;
    }
    .galery__div {
      width: 100%;
    }
} 




   //CEL:
        //Pequeño: 0 - 320px
        //grande: 320px. 480px
    //TABLET
        //Pequeño: 480px - 768px
        //Grande: 768px - 960px
    //Laptop: 960px - 1024px
    //Escritorio: 1024px - 1328px