// .galery {
//     display: flex;
//     flex-direction: column;
//     margin-top: 2em;
// }
// .galery__img {
//     width: 100%;
// }
// .galery__img:hover {
//     opacity: 0.5;
//     transition: 0.4s ease;
// }


// // @include cel__s {


// // }
// @include tablet{

//     .galery{
//         flex-direction: row;
//     }
// }

// @include laptop__s{
//     .galery{
//         flex-direction: row;
//     }
// }

.galery{

    display: grid;
    grid-template-columns: auto;
    grid-template-rows: repeat(12, auto);
    row-gap: 0.5em;
    margin-top: 3em;
}

@include tablet__s{
    .galery{
        grid-template-columns: auto auto;
        grid-template-rows: repeat(4, auto);
    }

    .galery__div:nth-child(1){
        grid-column: 1 / 1;
        grid-row: 2 / 1;
    }

    .galery__div:nth-child(1){
        grid-column: 2 / 1;
        grid-row: 2 / 1;
    }
}